<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>UH OH!</h1>
        <br>
        <p> You may be seeing this page because:
            <ul>
                <li>You spelled one of your entries incorrectly.</li>
                <li>You lower/upper-cased one of your entries incorrectly.</li>
                <li> You didn't fill in a required search field. </li>
                <li>You are trying to edit something that does not exist.</li>
                <li> There are no results in our database associated with your search query. </li>
                <li> You need to make sure your field entries match what is being asked for.</li>
            </ul>
            <p>Please go back and try again.</p>
            <!-- <p><a href = "./index.html">Back to homepage</a></p> -->
        </p>
    </div>
</body>
</html>