<!DOCTYPE html>

<html>
<style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Columbia Eats!</h1>
  <div>
    <h2>Search for eateries</h2>
    <form method="POST" action="/search_eatery/">
        <p>By tag:
            <select name="Tags"> <!--maybe change id to value-->
                <option value="Blank"></option>
                <option value="American">American</option>
                <option value="Chinese">Chinese</option>
                <option value="Mexcian">Mexican</option>
                <option value="Thai">Thai</option>
                <option value="Asian">Asian</option>
                <option value="Vietnamese">Vietnamese</option>
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
                <option value="Studyspot">Study spot</option>
                <option value="Coffee">Coffee</option>
                <option value="Tea">Tea</option>
                <option value="British">British</option>
                <option value="Italian">Italian</option>
                <option value="Japanese">Japanese</option>
                <option value="BBQ">BBQ</option>
                <option value="Hotpot">Hotpot</option>
                <option value="KBBQ">KBBQ</option>
                <option value="Korean">Korean</option>
                <option value="Fast">Fast</option>
                <option value="Upscale">Upscale</option>
                <option value="Partyspot">Party spot</option>
                <option value="Drinks">Drinks</option>
                <option value="Greek">Greek</option>
                <option value="Brunch">Brunch</option>
            </select>
        </p>
        <p>Name of eatery <input type="text" name="search_eatery_name"> <input type="submit" value="Search"></p>
    </form>

    <div>
        {% for n in eateries %}
        <div>{{n}}</div>
        {% endfor %}
    </div>

    </div>

    <div>
        <h2>Find your to-try list</h2>
        <form method="POST" action="/search_to_try_list">
            <p>Your username: <input type="text" name="search_username"> <input type="submit" value="search_username"></p>
        </form>
    </div>

    <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
    </div>

    <br>
    <br>

    <div>
        <h2>Add to your to-try list</h2>
        <form method="POST" action="/add_to_try_list">
            <p>Your username: <input type="text" name="add_to_try_username"> </p>
            <p>Eatery name: <input type="text" name="add_to_try_eatery"> <input type="submit" value="add_to_try_eatery"></p>
        </form>
    </div>


    <div>
        <h2>Add food item to eatery</h2>
        <form method="POST" action="/add_item">
            <p>Eatery name: <input type="text" name="add_item_eatery"> </p>
            <p>Food name: <input type="text" name="add_item_food"></p>
            <p>Price: <input type="text" name="add_item_price"></p>
            <input type="submit" value="add_item">
        </form>
    </div>

    <div>
        <h2>Rate a food item </h2>
        <form method="POST" action="/rate_item">
            <p>Your username: <input type="text" name="rate_item_username"> </p>
            <p>Food name: <input type="text" name="rate_item_food"></p>
            <p>Eatery name: <input type="text" name="rate_item_eatery"> </p>
            <p>Your rating: 
                <select name="rate_item_rating">
                    <option value="Blank"></option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select>
            </p>
            <input type="submit" value="rate_item">
        </form>
    </div>

    <div>
        <h2>Rate an existing eatery </h2>
        <form method="POST" action="/rate_eatery">
            <p>Your username: <input type="text" name="rate_eatery_username"> </p>
            <p>Eatery name: <input type="text" name="rate_eatery_eatery"> </p>
            <p>Level of background noise:
                <select name="rate_background_noise">
                    <option value="Blank"></option>
                    <option value="low">Low</option>
                    <option value="moderate">Moderate</option>
                    <option value="high">High</option>
                </select>
            </p>
            <p>Is there background music?
                <select name="rate_background_music">
                    <option value="Blank"></option>
                    <option value="True">Yes</option>
                    <option value="False">No</option>
                </select>
            </p>
            <p>Rate the seating
                <select name="rate_seating">
                    <option value="Blank"></option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select>
            </p>
            <p>Rate the atmosphere
                <select name="rate_atmosphere">
                    <option value="Blank"></option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select>
            </p>
            <p>Rate the level of natural lighting
                <select name="rate_natural_lighting">
                    <option value="Blank"></option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                </select>
            </p>
            <input type="submit" value="rate_eatery">
        </form>
    </div>

    <div>
        <h2>Comment on an existing eatery </h2>
        <form method="POST" action="/comment_eatery">
            <p>Your username: <input type="text" name="comment_eatery_username"> </p>
            <p>Eatery name: <input type="text" name="comment_eatery_eatery"> </p>
            <p>Your comment: <input type="text" name="comment_eatery_comment"> </p>
            <input type="submit" value="comment_eatery">
        </form>
    </div>

<div>
    <h2>Add a new eatery to the app</h2>
    <form method="POST" action="/add_eatery"> <!--Reroute to same homepage -->
        <p>Your username: <input type="text" name="username"> </p>
        <p>Eatery name: <input type="text" name="eatery_name"> </p>
        <p>Is it open?
            <select name="is_open">
                <option value="Blank"></option>
                <option value=True>Open</option>
                <option value=False>Closed</option>
            </select>
        </p>
        <p>Location <input type="text" name="location"></p>
            <p>Indoor/Outdoor/Both
                <select name="is_indoor">
                    <option value="Blank"></option>
                    <option value="indoor">Indoor</option>
                    <option value="outdoor">Outdoor</option>
                    <option value="outdoor">Both</option>
                </select>
            </p>
        <p>Hours <input type="text" name="hours"></p>
        <p>Eatery type
            <select name="e_type">
                <option value="Blank"></option>
                <option value="cafe">Cafe</option>
                <option value="coffee_shop">Coffee shop</option>
                <option value="bakery">Bakery</option>
                <option value="bar">Bar</option>
                <option value="restaurant">Restaurant</option>
                <option value="food_truck">Food truck</option>
                <option value="fastfood">Fastfood</option>
            </select>
        </p>
        <p>Seating <input type="int" name="seating"></p>
        <p>Bathroom
            <select name="bathroom">
                <option value="Blank"></option>
                <option value="public">Public</option>
                <option value="passcode_needed">Passcode needed</option>
                <option value="none">None</option>
            </select>
        </p>
            
        <br><br>
        <input type="submit" value="Add"></p>
            
    </form>
</div>
<div>
    <h2>Create new user profile</h2>
    <form method="POST" action="/add_user"> <!--Reroute to same homepage -->
        <p>New username: <input type="text" name="username"> </p>
        <p>Affiliation to Columbia: 
            <select name= "affiliation">
                <option value="Blank"></option>
                <option value="Student">Student</option>
                <option value="Faculty">Faculty</option>
                <option value="Staff">Staff</option>
            </select>
        </p>
        <p>Biography: <input type="text" name="bio">
            <br><br>
            <input type="submit" value="Add"></p>
    </form>
</div>

</body>


</html>